name: ExpenseTracker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build ExpenseTracker
    runs-on: ubuntu-latest

    steps:
    - name: Check out code from source control
      uses: actions/checkout@v4

    - name: Setup .NET environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore NuGet packages
      run: dotnet restore

    - name: Run unit tests
      run: dotnet test --verbosity normal --collect:"XPlat Code Coverage" --logger trx --results-directory coverage

    - name: Add unit test coverage report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: 'coverage/*/coverage.cobertura.xml'
        badge: true
        format: 'markdown'
        output: 'both'

    - name: Write code coverage report to job summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

    #- name: Run mutation tests
    #  uses: stryker-mutator/github-action@v0.0.1
    #  with:
    #    testProject: "ExpenseTracker.Domain.Tests/"
        
    #- name: Add mutation test result report
    #  uses: actions/upload-artifact@v3
    #  with:
    #    name: html-report
    #    path: ${{github.workspace}}/ExpenseTracker.Domain.Tests/StrykerOutput/**/**/*.html
    
    - name: Build solution
      run: dotnet build --no-restore
